*{
    background-color: rgb(66, 230, 30);
}
.soudiv {
    width: 100%;
    height: 100px;
    background-color: rgb(192, 20, 20);
}
 
#soudiv1 {
    background-color: aqua;
    width: 100px;
    height: 100px;
}
 
p.soudiv{
    font-size: 25px;
}